@import "base";

.logo {
	 height: 3.25rem;
	 margin-left: 2rem;
}

.search {
	 flex: 0 0 40%;

	 display: flex;
	 justify-content: center;
	 align-items: center;
	 @media only screen and(max-width: $bp-smallest) {
			order: 1;
			flex: 0 0 100%;
			//background-color: var(--color-gray-light-2);
	 }

	 &__input {
			@media only screen and(max-width: $bp-smallest) {
				 width: 85%;
			}
			font-family: inherit;
			font-size: inherit;
			background-color: var(--color-gray-light-2);
			border: none;
			color: inherit;
			padding: 0.75rem 2rem;
			border-radius: 100px;
			width: 90%;
			transition: all 0.3s ease-in-out;
			margin-right: -3.25rem;

			&::placeholder {
				 font-weight: 100;
				 color: var(--color-gray-light-4);
			}

			&:focus {
				 width: 100%;
				 outline: none;
				 background-color: var(--color-gray-light-3);
			}
	 }

	 &__input:focus + &__button {
			background-color: var(--color-gray-light-3);
	 }

	 &__button {
			border: none;
			background-color: var(--color-gray-light-2);
			transition: all 0.1s ease-in-out;
			cursor: pointer;

			&:focus {
				 outline: none;
			}

			&:active {
				 transform: translateY(2px);
			}
	 }

	 &__icon {
			height: 2rem;
			width: 2rem;
			fill: var(--color-gray-dark-3);
	 }
}

.user-nav {
	 align-self: stretch;
	 display: flex;
	 align-items: stretch;

	 & > * {
			padding: 0 2rem;
			cursor: pointer;
			display: flex;
			align-items: center;
			height: 100%;
	 }

	 & > *:hover {
			background-color: var(--color-gray-light-2);
	 }

	 &__icon-box {
			position: relative;
	 }

	 &__icon {
			height: 2.25rem;
			width: 2.25rem;
			fill: var(--color-gray-dark-2);
	 }

	 &__nav_icon {
			height: 2.25rem;
			width: 2.25rem;
	 }

	 &__notification {
			font-size: .8rem;
			height: 1.5rem;
			border-radius: 50%;
			width: 1.5rem;
			background-color: var(--color-primary);
			color: #fff;
			position: absolute;
			top: 1.5rem;
			right: 1.2rem;
			display: flex;
			align-items: center;
			justify-content: center;
	 }

	 &__user {

	 }

	 &__user-photo {
			height: 3.75rem;
			border-radius: 50%;
			margin-right: 1rem;
	 }

	 &__user-name {

	 }
}

.side-nav {
	 font-size: 1.4rem;
	 list-style: none;
	 margin-top: 3.5rem;
	 @media only screen and(max-width: $bp-medium) {
			display: flex;
			margin: 0;
	 }

	 &__item {
			position: relative;

			@media only screen and(max-width: $bp-medium) {
				 flex: 1;
			}

			&:hover::before {
				 width: 100%;
				 transform: scaleY(1);
				 opacity: 1;
			}

			&:active::before {
				 background-color: var(--color-primary-light);
			}


			&::before {
				 content: "";
				 position: absolute;
				 top: 0;
				 left: 0;
				 width: 4px;
				 height: 100%;
				 transform: scaleY(0);
				 background-color: var(--color-primary);
				 transition: transform 0.2s ease-in-out, width .25s .25s ease-in-out, background-color .15s ease-in-out;
				 opacity: 0.4;
			}

			&:not(:last-child)::after {
				 margin-bottom: .5rem;
				 @media only screen and(max-width: $bp-medium) {
						margin: 0;
				 }
			}
	 }

	 &__link {
			display: flex;
			align-items: center;
	 }

	 &__link:link, &__link:visited {
			color: var(--color-gray-light-1);
			text-decoration: none;
			text-transform: uppercase;
			align-items: center;
			padding: 1.5rem 3rem;
			transition: all 0.3s ease-in-out;
			cursor: pointer;
			z-index: 1;
			position: relative;
			@media only screen and(max-width: $bp-medium) {
				 justify-content: center;
				 padding: 2rem;
			}
			@media only screen and(max-width: $bp-small) {
				 flex-direction: column;
				 padding: 1.5rem .5rem;
			}
	 }

	 &__icon {
			width: 1.75rem;
			height: 1.75rem;
			margin-right: 2rem;
			fill: currentColor;
			@media only screen and(max-width: $bp-small) {
				 margin-right: 0;
				 margin-bottom: .7rem;
				 width: 1.5rem;
				 height: 1.5rem;
			}
	 }

}

.legal {
	 font-size: 1.2rem;
	 text-align: center;
	 padding: 2.5rem;
	 color: var(--color-gray-light-4);
	 @media only screen and(max-width: $bp-medium) {
			display: none;
	 }
}

.gallery {
	 display: flex;

	 & &__item:hover:first-child &__photo{
			filter: brightness(1.1) blur(2px);
			transform: scale(1.1);
	 }
	 & &__item:hover:nth-child(n+2) &__photo{
			filter: brightness(0.9) blur(2px);
			transform: scale(1.1);
	 }
	 &__item {
			position: relative;

			&:hover {
				 z-index: 1;
			}

			&:hover .gallery__figcaption {
				 opacity: 1;
				 visibility: visible;
				 transform: translate(-50%, -50%);
				 z-index: 2;
			}
	 }

	 &__photo {
			width: 100%;
			display: block;
			transition: all 0.5s ease-in-out;


	 }

	 &__figcaption {
			position: absolute;

			top: 50%;
			left: 50%;
			transition: all 0.5s ease-in-out;
			visibility: hidden;
			opacity: 0;
			color: var(--color-primary);
			font-size: 2.4rem;
			font-weight: 300;
			border-bottom: 2px solid var(--color-primary-light);
			user-select: none;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
	 }
}

.overview {
	 display: flex;
	 align-items: center;
	 border-bottom: 1px solid var(--color-gray-light-2);

	 &__heading {
			font-size: 2.25rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 1.5rem 3rem;
			@media only screen and(max-width: $bp-small) {
				 font-size: 1.8rem;
				 padding: 1.25rem 2rem;
			}
	 }

	 &__stars {
			margin-right: auto;
			display: flex;
	 }

	 &__icon-star, &__icon-location {
			width: 1.75rem;
			height: 1.75rem;
			fill: var(--color-primary);
	 }

	 &__icon-location {
			margin-right: 1rem;
	 }

	 &__location {
			font-size: 1.2rem;
			display: flex;
			align-items: center;
	 }

	 &__rating {
			background-color: var(--color-primary);
			color: #fff;
			margin-left: 3rem;
			align-self: stretch;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			@media only screen and(max-width: $bp-small) {
				 padding: 0 1.5rem;
			}
	 }

	 &__rating-average {
			font-size: 2.25rem;
			font-weight: 300;
			padding: 0 2.5rem;
			margin-bottom: -0.5rem;
			@media only screen and(max-width: $bp-small) {
				 font-size: 1.8rem;
			}
	 }

	 &__rating-count {
			font-size: .8rem;
			text-transform: uppercase;
			@media only screen and(max-width: $bp-small) {
				 font-size: .5rem;
			}
	 }
}

.btn-inline {
	 border: none;
	 color: var(--color-primary-dark);
	 font-size: inherit;
	 border-bottom: 1px solid currentColor;
	 padding-bottom: 2px;
	 display: inline-block;
	 background-color: transparent;
	 cursor: pointer;
	 transition: all 0.2s ease-in-out;

	 & > span {
			margin-left: 3px;
			transition: margin-left 0.2s ease-in-out;
	 }

	 &:hover {
			color: var(--color-gray-dark-1);

			& span {
				 margin-left: 8px;
			}
	 }

	 &:focus {
			outline: none;
			animation: pulsate 0.5s ease-in-out infinite alternate;
	 }
}

@keyframes pulsate {
	 0% {
			transform: scale(1);
			box-shadow: none;
	 }
	 50% {
			transform: scale(1.05);
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	 }
	 100% {
			transform: scale(1);
			box-shadow: none;
	 }
}

.paragraph:not(:last-of-type) {
	 margin-bottom: 2rem;
}

.list {
	 list-style: none;
	 padding: 3rem 0;
	 margin: 3rem 0;
	 display: flex;
	 flex-wrap: wrap;
	 border-top: var(--border-b);
	 border-bottom: var(--border-b);

	 &__item {
			flex: 0 0 50%;
			margin-bottom: 0.7rem;

			&::before {
				 content: "";
				 display: inline-block;
				 height: 1.3rem;
				 margin-right: .8rem;
				 width: 1.3rem;
				 // background-image: url("../img/svg/check.svg");
				 // background-size: cover;
				 background-color: var(--color-primary);
				 -webkit-mask-image: url("../img/svg/check.svg");
				 -webkit-mask-size: cover;
			}
	 }
}

.recommend {
	 font-size: 1.3rem;
	 color: var(--color-gray-dark-3);
	 display: flex;
	 align-items: center;

	 &__count {
			margin-right: auto;
	 }

	 &__friends {
			display: flex;
	 }

	 &__photo {
			box-sizing: content-box;
			height: 4rem;
			width: 4rem;
			border-radius: 50%;
			border: 3px solid #fff;

			&:not(:last-of-type) {
				 margin-right: -2rem;
			}
	 }
}

.review {
	 overflow: hidden;
	 background-color: #fff;
	 box-shadow: var(--shadow-light);
	 padding: 3rem;
	 position: relative;
	 margin-bottom: 3.5rem;

	 @media only screen and(max-width: $bp-medium) {
			padding: 2rem;
			margin-bottom: 2.5rem;
	 }

	 &__text {
			margin-bottom: 2rem;
			position: relative;
			z-index: 1;
	 }

	 &__photo {
			height: 4.5rem;
			width: 4.5rem;
			border-radius: 50%;
	 }

	 &__user {
			display: flex;
			align-items: center;
	 }

	 &__user-box {
			margin-left: 1rem;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			margin-right: auto;
	 }

	 &__user-photo {

	 }

	 &__user-name {
			font-weight: 600;
			font-size: 1.2rem;
			text-transform: uppercase;
	 }

	 &__user-date {
			font-size: 1rem;
			color: var(--color-gray-dark-3);
	 }

	 &__rating {
			color: var(--color-primary);
			font-size: 2.2rem;
			font-weight: 300;
	 }

	 &::before {
			content: "\201C";
			position: absolute;
			top: -2.75rem;
			font-family: sans-serif;
			left: -1rem;
			font-size: 20rem;
			line-height: 1;
			color: var(--color-gray-light-2);
	 }
}

.btn {
	 font-size: 1.8rem;
	 font-weight: 300;
	 border: none;
	 text-transform: uppercase;
	 border-radius: 100px;
	 background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
	 color: #fff;
	 position: relative;
	 overflow: hidden;
	 transition: all 0.2s ease-in-out;
	 cursor: pointer;

	 & > * {
			display: inline-block;
			height: 100%;
			width: 100%;
			transition: all 0.2s ease-in-out;
	 }

	 &__visible {
			display: inline-block;
			padding: 2rem 7.5rem;
			transition: all 0.2s ease-in-out;
	 }

	 &:hover {
			background-image: linear-gradient(to left top, var(--color-primary-light), var(--color-primary-dark));

	 }

	 &__invisible {
			position: absolute;
			left: 0;
			top: -100%;
			padding: 2rem 7.5rem;
	 }

	 &:hover &__visible {
			transform: translateY(100%);
			//	animation: btn-hover 0.5s ease-in-out;
	 }

	 &:hover &__invisible {
			top: 0;
	 }

	 &:focus {
			outline: none;
			animation: pulsate 0.75s infinite;
	 }
}

.tooltip {
	 position: relative;

	 &_width-big {
			width: 25vw;
			@media only screen and(max-width: $bp-small) {
				 width: 30vw;
			}
			@media only screen and(max-width: $bp-small) {
				 width: 45vw;
			}
	 }

	 &_width-small {
			width: 12vw;
			@media only screen and(max-width: $bp-small) {
				 width: 18vw;
			}
			@media only screen and(max-width: $bp-smallest-1) {
				 width: 28vw;
			}
	 }

	 &__content {
			visibility: hidden;
			background-color: rgba(255, 255, 255, 0.9);
			color: var(--color-gray-dark-1);
			//text-align: center;
			border-radius: 4px;
			padding: 1rem 2rem;
			position: absolute;
			z-index: 100;
			top: 115%;
			left: 50%;
			transform: translate(-50%);
			opacity: 0;
			transition: all 0.3s ease-in-out;
			@media only screen and(max-width: $bp-largest) {
				 left: 40%;
			}

			&::after {
				 content: "";
				 position: absolute;
				 bottom: 100%;
				 left: 50%;
				 margin-left: -8px;
				 border-width: 8px;
				 border-style: solid;
				 border-color: transparent transparent var(--color-gray-light-2) transparent;
				 @media only screen and(max-width: $bp-largest) {
						display: none;
				 }
			}
	 }

	 &:hover &__content {
			visibility: visible;
			opacity: 1;
	 }

	 &__photo {
			height: 4rem;
			width: 4rem;
			border-radius: 10%;
			position: relative;
	 }

	 &__user-box {
			position: relative;

			& > .tooltip__notification {
				 font-weight: 600;
				 font-size: 1rem;
				 height: 1.5rem;
				 border-radius: 50%;
				 width: 1.5rem;
				 background-color: var(--color-primary);
				 color: #fff;
				 position: absolute;
				 top: -0.6rem;
				 left: 3.1rem;
				 display: flex;
				 align-items: center;
				 justify-content: center;
			}
	 }

	 &__list {
			list-style: none;
			display: flex;
			gap: 0.75rem;
			flex-direction: column;

			& svg {
				 margin-left: 0.5rem;
				 height: 2rem;
				 width: 2rem;
				 @media only screen and(max-width: $bp-largest) {
						display: none;
				 }
			}

			&-item {
				 padding: 0.75rem;
				 display: flex;
				 align-items: center;
				 justify-content: center;
				 gap: 1rem;
				 box-sizing: content-box;
				 border-bottom: 2px solid var(--color-gray-light-3);
				 position: relative;

				 &:last-child {
						border-bottom: none;
				 }

				 &:hover {
						background-color: rgba(235,47,100, 0.1);
				 }

			}
	 }

	 &__message {
			font-size: 1.4rem;
			font-variant: all-petite-caps;
	 }
}