@import "base";
.container{
	   max-width: 120rem;
	 margin: 8rem auto;
	 background-color: var(--color-gray-light-1);
	 box-shadow: var(--shadow-dark);
	 min-height: 50rem;
	 @media only screen and(max-width: $bp-largest) {
			margin: 0;
			max-width: 100%;
			width: 100%;
	 }
}
.header{
	 font-size: 1.4rem;
	  height: 7rem;
	 background-color: #fff;
	 border-bottom: var(--border-b);
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 @media only screen and(max-width: $bp-smallest) {
			flex-wrap: wrap;

			height: 11rem;
			align-content: space-around;
	 }

}
.content{
	   display: flex;
	 @media only screen and(max-width: $bp-medium) {
			flex-direction: column;
	 }
}
.sidebar{
	     background-color: var(--color-gray-dark-1);
	 flex: 0 0 18%;
	 display: flex;
	 justify-content: space-between;
	 flex-direction: column;
}
.hotel-view{
	 flex: 1;
}
.details{
	 display: flex;
	 padding: 4.5rem;
	 font-size: 1.4rem;
	 background-color: var(--color-gray-light-1);
	 border-bottom: var(--border-b);
	 @media only screen and(max-width: $bp-medium) {
			padding: 2.5rem;
	 }
	 @media only screen and(max-width: $bp-small) {
			flex-direction: column;
	 }
}
.description{
	  background-color: #fff;
	 box-shadow: var(--shadow-light);
	 flex: 0 0 60%;
	 padding: 3rem;
	 margin-right: 4.5rem;
	 @media only screen and(max-width: $bp-medium) {
			padding: 2rem;
			margin-right: 3rem;
	 }
	 @media only screen and(max-width: $bp-small) {
			margin-right: 0;
			margin-bottom: 3rem;
	 }
}
.user-reviews{
	 flex: 1;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}


.cta{
padding: 3.5rem 0;
	 text-align: center;
	 @media only screen and(max-width: $bp-medium) {
			padding: 2.5rem 0;
	 }
	 &__book-now{
			font-size: 2rem;
			font-weight: 300;
			margin-bottom: 2.5rem;
			text-transform: uppercase;
	 }
}